Adafruit-Blinka==8.50.0
adafruit-circuitpython-74hc595==1.4.5
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-charlcd==3.4.11
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-datetime==1.2.8
adafruit-circuitpython-lc709203f==2.3.4
adafruit-circuitpython-max1704x==1.0.11
adafruit-circuitpython-mcp230xx==2.5.15
adafruit-circuitpython-pca9685==3.4.16
adafruit-circuitpython-pcf8523==2.0.2
adafruit-circuitpython-pixelbuf==2.0.6
adafruit-circuitpython-register==1.10.1
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-rgbled==1.2.1
adafruit-circuitpython-seesaw==1.16.4
adafruit-circuitpython-simpleio==3.0.14
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
circuitpython-stubs==9.1.4
circup==2.0.4